body {
  background-color:black;
  color:green;
}
#clock { 
  font-size: 175px; 
  width: 900px; 
  margin: 200px; 
  text-align: center; 
  border: 2px solid rgb(0, 255, 0); 
  border-radius: 20px; 
  background-color:rgb(8, 8, 8);
  box-shadow:0px 0px 100px 50px green;
} 
.red {
  background-color:black;
  color:rgb(0, 255, 179);
  border:1px solid rgb(0, 255, 179);
  box-shadow:0px 0px 20px 2px rgb(0, 255, 179);
  padding:10px 20px 10px 20px;
  font-size:35px;
  margin:20px;
  transition: 0.5s linear;
  outline:none;
}
.red:hover {
  color:black;
  background-color:rgb(0, 255, 179);
  cursor:pointer;
}
.blue {
  background-color:black;
  color:rgb(46, 192, 136);
  border:1px solid rgb(46, 192, 136);
  box-shadow:0px 0px 20px 2px rgb(46, 192, 136);
  padding:10px 20px 10px 20px;
  font-size:35px;
  margin:20px;
  transition: 0.5s linear;
  outline:none;
}
.blue:hover {
  color:black;
  background-color:rgb(46, 192, 136);
  cursor:pointer;
}
#day {
  color:green;
  position: relative;
  top:0px;
  left:0px;
  margin:20px;
  font-size:20px;
  padding:10px;
  background-color:rgb(22, 22, 22);
  outline:none;
  border:1px solid green;
}
@media screen and (max-width: 600px) {
  #clock {
    font-size: 75px; 
    width: auto; 
    margin: 20px; 
    text-align: center; 
     
    
}
}